* {
    font-family: Varela Round, Helvetica;
}
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#map {
    height: 92.5vh;
    width: 100%;
}

#header {
    background: #222;
    color: #e4ecef;
    padding: 1vh;
}

.header-name {
    display: inline-block;
    margin: 0;
    font-size: 5vh;
}

.container {
    display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 7.5% 92.5%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "ui map";
}

.ui { grid-area: ui; }
.map { grid-area: map; }
.header { grid-area: header; }

#form {
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

#form div {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.map-legend {
    position: absolute;
    top: 10vh;
    right: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    z-index: 1000;  /* Makes sure the legend is above other elements on the map */
}

.map-legend h3 {
    margin-top: 0;
}

.legend-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.legend-line {
    display: inline-block;
    width: 20px;
    height: 4px;
    margin-right: 5px;
}

.yellow {
    background-color: #ffff00;
}

.red {
    background-color: #f00;
}

.green {
    background-color: #0f0;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}
